/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 21, 2023, 12:21:58 AM
    Author     : ashik
*/

.login{
    -fx-background-color:linear-gradient(#4b6cb7, #182848);
}
.loginButton{
    -fx-background-color:linear-gradient(rgba(45,116,213,1), rgba(121,137,212,1));
}
.signup{
    -fx-background-color:linear-gradient(#4b6cb7, #182848);;
}
.signupButton{
    -fx-background-color:linear-gradient(rgba(45,116,213,1), rgba(121,137,212,1));
}
.bg{
    -fx-background-color:linear-gradient(rgba(45,116,213,1), rgba(121,137,212,1));
}
.nav-button{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
.nav-button:hover{
    -fx-background-color:linear-gradient(rgba(45,116,213,1), rgba(121,137,212,1));
}
.bg-white{
    -fx-background-color: #fff;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3),8,0,0,0);
}
